.sign-up {
  width: 40%;
  font-size: 30px;
  margin: 0 auto;
  color: white;
}

.actions {
  cursor: pointer;
}

#user_name {
  width: 80%;
  height: 40px;
  font-size: 20px;
}

#user_email {
  width: 80%;
  height: 40px;
  font-size: 20px;
}

#user_password {
  width: 80%;
  height: 40px;
  font-size: 20px;
}

#user_password_confirmation {
  width: 80%;
  height: 40px;
  font-size: 20px;
}