%h1.top-page
  %i.fas.fa-tasks.fa-lg.top-page
  %span.top-page TODO & BOOK
  %i.fas.fa-book.fa-lg.top-page
= link_to new_user_registration_path do
  %h2.top-page Sign up
= link_to new_user_session_path do
  %h2.top-page Sign in